//Colors 

$color--heading: #212353;
$color--text: #4B5D68;
$color--white: #fff;
$color--lavender: #9C69E2;
$color--violet: #8A40EE;
$color---pink: #EB4BAB;
$color---pink-two: #F063B8;
$color--pink-middle: #EB4BAB;
$color--pink-medium: #FDE8F5;
$color--dark-gray: #4B5D68;
$color--green-light: #F0FAF9;
$color--violet-light: #F6F0FD;
$color--pink-light: #FEF0F8;
$color--blue-light: #EAF6FC;
$bgcolor--medium-blue: #CCDDFF;
$box-shadow-button: 0px 5px 5px rgba(75, 93, 104, 0.1);

// SVG-Footer hover 

$color--facebook: #3B5998;
$color--twitter: #00ACEE;
$color--instagram: #C13584;